.account-masthead {
  .navbar-nav {
    li {
      display: inline-block;
      float: none;
    }
  }
}

.masthead {
  .mobi-menu {
    float: right;
    margin-top: 10px;
  }

  .nav {
    ul,
    li {
      width: 100%;
    }
  }
}
