.masthead {
  .mobi-menu {
    display: none;
  }

  .nav {
    float: right;
  }

  .collapse {
    display: block;
  }
}

.page {
  background: $page-background-color;
  padding: 0 0 1em;

  .wrapper {
    background: $inner-page-background-color;
    box-shadow: 0 0 0 4px $inner-page-border-color;
    margin: 0;
  }
}
