<main class="primary col-md-9">
    <h1> Italian Regional Public Accounts </h1>
    <section class="page_primary_action pull-right">
        <h2 class="sr-only">Actions</h2>
        <ul class="list-unstyled list-inline">
            <li> <a class="btn btn-admin" href="Edit - A Novel By Tolstoy - CKAN.html"><i class="fa fa-wrench" aria-hidden="true"></i> Manage</a> </li>
        </ul>
    </section>
    <nav>
        <h2 class="sr-only">Dataset Views</h2>
        <ul class="nav nav-pills">
            <li class="active"><a href="hA Novel By Tolstoy - Datasets - CKAN.html"><i class="fa fa-sitemap"></i> Dataset</a></li>
            <li><a href="Groups - A Novel By Tolstoy - Datasets - CKAN.html"><i class="fa fa-group"></i> Groups</a></li>
            <li><a href="Activity Stream - A Novel By Tolstoy - Datasets - CKAN.html"><i class="fa fa-clock-o"></i> Activity Stream</a></li>
        </ul>
    </nav>
    <div class="notes embedded-content">
        <p>The Regional Public Accounts (RPA) measure public financial flows at the regional level providing information on central and local government revenues and expenditures (either on current and capital account) by sector. </p>
        <p>Data is available since 1996 for General Government or the wider Public Sector and allows for analysis of various sub-aggregates covering different macro-areas and administrative regions, sector classifications, economic categories, definitions
            of government expenditure and final expenditure recipients. </p>
        <p>Data is produced by the Department for Development Policies, Ministry of Economic Development, ITALY and will be released in CSV/TXT format soon on the RPA website. </p>
        <p>Traduzione italiana: </p>
        <p>I Conti Pubblici Territoriali misurano i flussi finanziari pubblici a livello regionale fornendo informazioni sulle entrate e le spese (sia correnti che in conto capitale) delle amministrazioni centrali, regionali e locali per settore. </p>
        <p>I dati sono disponibili dal 1996 per il totale della pubblica amministrazione o il piu' ampio settore pubblico e consente analisi di per diverse macro-aree, regioni, settori, categorie economiche, livelli di governo e beneficiari ultimi della
            spesa. </p>
        <p>I dati sono prodotti dal Dipartimento per lo Sviluppo e la Coesione Economica del Ministero dello Sviluppo economico italiano. </p>
    </div>
    <section id="dataset-resources" class="resources">
        <h2>Data and Resources</h2>
        <ul class="list-unstyled">
            <li class="resource-item" data-id="d81037dc-6fb8-46f9-a79a-2d447bc2b12b">
                <section>
                    <a href="/dataset/italyregionalaccounts/resource/d81037dc-6fb8-46f9-a79a-2d447bc2b12b">
                        <h3>Budget, 2 levels, CSV split<span class="format-label" property="dc:format" data-format="csv">, CSV format</span></h3>
                    </a>
                    <p class="description"> Budget, 2 levels, CSV split </p>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a class="btn btn-default" href="/dataset/italyregionalaccounts/resource/d81037dc-6fb8-46f9-a79a-2d447bc2b12b"> <i class="fa fa-bar-chart" aria-hidden="true"></i> Preview </a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="http://opendatalabs.org/italy/Italy-TOT-1996-2008-pubexp1.csv" class="resource-url-analytics" target="_blank"> <i class="fa fa-download" aria-hidden="true"></i> Download </a>
                        </li>
                    </ul>
                </section>
            </li>
            <li class="resource-item" data-id="1b2b09d2-8673-45f4-8c79-0fb0cd896a11">
                <section>
                    <a href="/dataset/italyregionalaccounts/resource/1b2b09d2-8673-45f4-8c79-0fb0cd896a11" title="OpenSpending Model">
                        <h3>OpenSpending Model<span class="format-label" property="dc:format" data-format="json">, JSON format</span></h3>
                    </a>
                    <p class="description"> OpenSpending Model </p>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a class="btn btn-default" href="/dataset/italyregionalaccounts/resource/1b2b09d2-8673-45f4-8c79-0fb0cd896a11"> <i class="fa fa-bar-chart"></i> Preview </a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="https://bitbucket.org/pudo/dpkg-italy-ra/raw/tip/model.js" class="resource-url-analytics" target="_blank"> <i class="fa fa-download"></i> Download </a>
                        </li>
                    </ul>
                </section>
            </li>
        </ul>
    </section>
    <section class="additional-info">
        <h2>Additional Info</h2>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="dataset-label">Source</th>
                    <td class="dataset-details" property="foaf:homepage"><a href="http://www.dps.tesoro.it/cpt/banca_dati_home.asp" rel="foaf:homepage" target="_blank">http://www.dps.tesoro.it/cpt/banca_dati_home.asp</a></td>
                </tr>
                <tr>
                    <th scope="row" class="dataset-label">Author</th>
                    <td class="dataset-details" property="dc:creator">Simona De Luca, Aline Pennisi</td>
                </tr>
                <tr>
                    <th scope="row" class="dataset-label">Last Updated</th>
                    <td class="dataset-details">December 16, 2015, 12:54</td>
                </tr>
                <tr>
                    <th scope="row" class="dataset-label">Created</th>
                    <td class="dataset-details">July 22, 2015, 14:30</td>
                </tr>
                <tr rel="dc:relation" resource="_:extra">
                    <th scope="row" class="dataset-label" property="rdfs:label">currency</th>
                    <td class="dataset-details" property="rdf:value">EUR</td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside class="module-content disqus-comments">
        <h2 class="">Comments</h2>
        <div id="disqus_thread">
            <iframe verticalscrolling="no" horizontalscrolling="no" src="https://disqus.com/embed/comments/?base=default&amp;version=d340b2c9eafd8b250cbde4141b443f18&amp;f=ckan&amp;t_i=dataset%3A%3Ab2e0a9d0-76a9-4b0b-935d-616d5fed37a9&amp;t_u=http%3A%2F%2Fdemo.ckan.org%2Fdataset%2Fitalyregionalaccounts&amp;t_d=%0A%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20Italian%20Regional%20Public%20Accounts%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%0A%20%20%20%20&amp;t_t=%0A%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20Italian%20Regional%20Public%20Accounts%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%0A%20%20%20%20&amp;s_o=default"
            style="width: 100% ! important; border: medium none ! important; overflow: hidden ! important; height: 929px ! important;" title="Disqus" tabindex="0" scrolling="no" allowtransparency="true" name="dsq-app2" id="dsq-app2" width="100%" frameborder="0"></iframe>
        </div>
        <script type="text/javascript">
            var disqus_shortname = 'ckan';
            var disqus_identifier = 'dataset::b2e0a9d0-76a9-4b0b-935d-616d5fed37a9';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </aside>
</main>
<aside class="secondary col-md-3">
    <h2 class="sr-only">Social and License</h2>
    <section class="panel panel-default follow">
        <h3 class="panel-heading h5"><i class="fa fa-bookmark" aria-hidden="true"></i> Followers</h3>
        <div class="panel-body">
            <dl>
                <dt>Followers</dt>
                <dd>
                    <span class="h1">0</span>
                </dd>
            </dl>
            <div class="follow_button">
                <a href="#" class="btn btn-success" data-module="follow" data-module-type="dataset" data-module-id="annakarenina" data-module-action="follow"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Follow </a>
            </div>
        </div>
    </section>
    <section class="panel panel-default share">
        <h3 class="panel-heading h5"><i class="fa fa-share-square-o" aria-hidden="true"></i> Share</h3>
        <ul class="nav nav-simple">
            <li class="nav-item"><a href="https://plus.google.com/share?url=http://demo.ckan.org/dataset/italyregionalaccounts" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a></li>
            <li class="nav-item"><a href="https://twitter.com/share?url=http://demo.ckan.org/dataset/italyregionalaccounts" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
            <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u=http://demo.ckan.org/dataset/italyregionalaccounts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
        </ul>
    </section>
    <section class="panel panel-default license">
        <h3 class="panel-heading h5"><i class="fa fa-lock" aria-hidden="true"></i> License</h2>
            <p class="panel-body">
                <span property="dc:rights">License not specified</span>
            </p>
    </section>
</aside>
