<main class="primary col-md-9">
    <h1> Italian Regional Public Accounts <span class="sr-only"> - Acitvity Stream</span></h1>
    <section class="page_primary_action pull-right">
        <h2 class="sr-only">Actions</h2>
        <ul class="list-unstyled list-inline">
            <li> <a class="btn btn-admin" href="Edit - A Novel By Tolstoy - CKAN.html"><i class="fa fa-wrench" aria-hidden="true"></i> Manage</a> </li>
        </ul>
    </section>
    <nav>
        <h2 class="sr-only">Dataset Views</h2>
        <ul class="nav nav-pills" role="tablist">
            <li><a href="dataset.html" role="tab" aria-selected="false"><i class="fa fa-sitemap"></i> Dataset</a></li>
            <li><a href="dataset-groups.html" role="tab" aria-selected="false"><i class="fa fa-group"></i> Groups</a></li>
            <li class="active"><a href="#" role="tab" aria-selected="true"><i class="fa fa-clock-o"></i> Activity Stream</a></li>
        </ul>
    </nav>
    <p>Activity</p>
</main>
<aside class="secondary col-md-3">
    <h2 class="sr-only">Social and License</h2>
    <section class="panel panel-default follow">
        <h3 class="panel-heading h5"><i class="fa fa-bookmark" aria-hidden="true"></i> Followers</h3>
        <div class="panel-body">
            <dl>
                <dt>Followers</dt>
                <dd>
                    <span class="h1">0</span>
                </dd>
            </dl>
            <div class="follow_button">
                <a href="#" class="btn btn-success" data-module="follow" data-module-type="dataset" data-module-id="annakarenina" data-module-action="follow"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Follow </a>
            </div>
        </div>
    </section>
    <section class="panel panel-default share">
        <h3 class="panel-heading h5"><i class="fa fa-share-square-o" aria-hidden="true"></i> Share</h3>
        <ul class="nav nav-simple">
            <li class="nav-item"><a href="https://plus.google.com/share?url=http://demo.ckan.org/dataset/italyregionalaccounts" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a></li>
            <li class="nav-item"><a href="https://twitter.com/share?url=http://demo.ckan.org/dataset/italyregionalaccounts" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
            <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u=http://demo.ckan.org/dataset/italyregionalaccounts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
        </ul>
    </section>
    <section class="panel panel-default license">
        <h3 class="panel-heading h5"><i class="fa fa-lock" aria-hidden="true"></i> License</h2>
            <p class="panel-body">
                <span property="dc:rights">License not specified</span>
            </p>
    </section>
</aside>
