@import 'format-labels';

.logo,
.ckan-footer-logo {
  object {
    pointer-events: none;
  }
}

.btn-admin {
  @include button-variant($btn-admin-color, $btn-admin-bg, $btn-admin-border);
}

.empty {
  color: $empty-text-color;
  font-style: italic;
}

main {
  .nav {
    margin-bottom: 1em;
  }
}

.filter-list {
  padding-top: 7px;

  section {
    display: inline;
  }

  h4,
  ul {
    display: inline;
  }

  h4,
  .label {
    padding-right: 1em;
  }

  .label {
    border-radius: 20px;
    font-size: 100%;
    margin-bottom: .5em;
    padding: .7em;

    a {
      color: inherit;
    }
  }
}

.panel {
  .panel-heading {
    margin: 0;
  }

  .panel-heading-image {
    float: left;
    margin-right: 1em;

    img {
      max-height: 50px;
      max-width: 1000px;
    }
  }

  p {
    margin: 0;
  }
}

.org-list-item {
  margin-top: 1em;

  img {
    max-height: 100px;
    max-width: 100px;
  }
}

.resources {
  h3 {
    display: inline-block;
  }
}
