.label {
  &[data-format] {
    $format-other-background-color: $format-other-background-color;
  }

  &[data-format=html],
  &[data-format*=html] {
    background-color: $format-html-background-color;
  }

  &[data-format=json],
  &[data-format*=json] {
    background-color: $format-json-background-color;
  }

  &[data-format=xml],
  &[data-format*=xml] {
    background-color: $format-xml-background-color;
  }

  &[data-format=text],
  &[data-format*=text] {
    background-color: $format-text-background-color;
  }

  &[data-format=csv],
  &[data-format*=csv] {
    background-color: $format-csv-background-color;
  }

  &[data-format=xls],
  &[data-format*=xls] {
    background-color: $format-xls-background-color;
  }

  &[data-format=zip],
  &[data-format*=zip] {
    background-color: $format-zip-background-color;
  }

  &[data-format=api],
  &[data-format*=api] {
    background-color: $format-api-background-color;
  }

  &[data-format=pdf],
  &[data-format*=pdf] {
    background-color: $format-pdf-backgrounc-color;
  }

  &[data-format=rdf],
  &[data-format*=rdf],
  &[data-format*=nquad],
  &[data-format*=ntriples],
  &[data-format*=turtle] {
    background-color: $format-rdf-background-color;
  }
}

@mixin ckan-icon-background-position ($offset) {
  $width: 32px;
  $height: 35px;
  $x: -$width;
  $y: -63px;

  width: $width;
  height: $height;
  background-position: ($x * $offset) $y;
}

.format-label {
  @include ckan-icon-background-position(0);
  background: url('../assets/sprite-resource-icons.png') no-repeat 0 0;
  margin-left: .5em;
  position: absolute;
  text-indent: -9000px;

  &[data-format=rdf],
  &[data-format*=rdf] {
    @include ckan-icon-background-position(1);
  }

  &[data-format=pdf],
  &[data-format*=pdf] {
    @include ckan-icon-background-position(2);
  }

  &[data-format=api],
  &[data-format*=api] {
    @include ckan-icon-background-position(3);
  }

  &[data-format=zip],
  &[data-format*=zip] {
    @include ckan-icon-background-position(4);
  }

  &[data-format=xls],
  &[data-format*=xls] {
    @include ckan-icon-background-position(5);
  }

  &[data-format=csv],
  &[data-format*=csv] {
    @include ckan-icon-background-position(6);
  }

  &[data-format=txt],
  &[data-format*=txt] {
    @include ckan-icon-background-position(7);
  }

  &[data-format=xml],
  &[data-format*=xml] {
    @include ckan-icon-background-position(8);
  }

  &[data-format=json],
  &[data-format*=json] {
    @include ckan-icon-background-position(9);
  }

  &[data-format=html],
  &[data-format*=html] {
    @include ckan-icon-background-position(10);
  }
}
