$primary-background-color: #005d7a;
$seconday-background-color: #003647;
$tertiary-background-color: #eee;

$account-masthead-background-color: $seconday-background-color;
$account-masthead-link-color: #fff;
$account-masthead-hover-background-color: #00232e;
$masthead-background-color: $primary-background-color;
$masthead-link-color: #fff;
$masthead-hover-background-color: #003647;
$page-background-color: $tertiary-background-color;
$inner-page-background-color: #fff;
$inner-page-border-color: #ddd;
$footer-background-color: $primary-background-color;
$footer-text-color: #fff;

//Bootstrap Overrides
$brand-primary: $primary-background-color !default;
