@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/font-awesome/scss/font-awesome';

@import 'variables';

.skplnk {
	left: 0;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 100%;
	z-index: 3;
}
